<section class="w3l-team py-sm-5 pb-sm-0 pb-5">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mx-auto mb-5 pb-sm-4">
            <h3 class="title-main">Alanında En İyi <span>Eğitmenler</span></h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/Templates/Studious-Starter/assets/images/team1.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Ayşenur Öztürk</a></h5>
                        <small>Siber Güvenlik</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-5">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/Templates/Studious-Starter/assets/images/team2.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1 active"><a href="#team">Melike Yıldız</a></h5>
                        <small>Mobil Programlama</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/Templates/Studious-Starter/assets/images/team3.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Tarık Kayalı</a></h5>
                        <small>Nesne Tabanlı Prog.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/Templates/Studious-Starter/assets/images/team4.jpg" class="img-fluid" alt="">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Eylül Şimşek</a></h5>
                        <small>Web Geliştirme</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
