<section class="w3l-bottom-grids-6 pb-lg-5 text-center" id="services">
    <div class="container">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-3 col-md-6 px-lg-2">
                <div class="area-box color-1">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <h4><a href="courses.html" class="title-head">Mühendislik & Mimarlık</a></h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 px-lg-2 mt-md-0 mt-3">
                <div class="area-box color-2">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h4><a href="courses.html" class="title-head">Yapay Zeka Makine Öğrenmesi</a></h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 px-lg-2 mt-lg-0 mt-3">
                <div class="area-box color-3">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <h4><a href="courses.html" class="title-head">IOT & Oyun Geliştirme</a></h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 px-lg-2 mt-lg-0 mt-3">
                <div class="area-box color-4">
                    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                    <h4><a href="courses.html" class="title-head">Tasarım Desenleri ve Backend</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
