<section class="w3_stats py-sm-5 pt-sm-0 pt-5" id="stats">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mx-auto mb-5 pb-sm-4">
            <h3 class="title-main">İstatistiklerle <span>Okulumuz</span></h3>
            <p class="mt-4 pt-md-2">
                Öğrencilerimizin projelerini ve çalışmalarını sizlerle paylaşmanın mutluluğu içerisindeyiz.
            </p>
        </div>
        <div class="w3-stats">
            <div class="row text-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="768" data-speed="1500"></div>
                        <p class="count-text">Toplam Öğrenci Sayımız</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="26" data-speed="1500"></div>
                        <p class="count-text">Öğretmen Sayımız</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="1236" data-speed="1500"></div>
                        <p class="count-text">Proje Sayımız</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                    <div class="counter border-right-0">
                        <div class="timer count-title count-number" data-to="12" data-speed="1500"></div>
                        <p class="count-text">Programlama Dili Sayısı</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
