<div class="w3l-grids-block-5 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mx-auto mb-5 pb-sm-4">
            <h3 class="title-main">Pick a Course to <span>Get Started</span></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card-single">
                    <div class="grids5-info position-relative">
                        <img src="~/Templates/Studious-Starter/assets/images/c1.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">C#</a>
                            <a href="courses.html">SQL</a>
                        </div>
                        <div class="course-price-item">
                            <h6>₺5200</h6>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fa fa-signal" aria-hidden="true"></i> Başlangıç</li>
                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i> 10 Hafta</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Yazılım Geliştirme</a></h4>
                        <p>Uzman eğitmenlerle programlama eğitimini kaçırmayın.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                            <ul class="rating-list">
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <a class="btn btn-style btn-style-primary" href="course.html">
                                Know Details<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                <div class="blog-card-single">
                    <div class="grids5-info position-relative">
                        <img src="~/Templates/Studious-Starter/assets/images/c2.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">Digital</a>
                            <a href="courses.html">Learn</a>
                            <a href="courses.html">10% off</a>
                        </div>
                        <div class="course-price-item">
                            <h6>$900</h6>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fa fa-signal" aria-hidden="true"></i> High </li>
                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i> 10 week</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">It's enim ad minim ate</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                            <ul class="rating-list">
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <a class="btn btn-style btn-style-primary" href="course.html">
                                Know Details<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                <div class="blog-card-single">
                    <div class="grids5-info position-relative">
                        <img src="~/Templates/Studious-Starter/assets/images/c3.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">Html</a>
                            <a href="courses.html">Java</a>
                        </div>
                        <div class="course-price-item">
                            <h6>$99</h6>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fa fa-signal" aria-hidden="true"></i> Beginner </li>
                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i> 10 week</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Ullamco laboris nisi uts</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                            <ul class="rating-list">
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <a class="btn btn-style btn-style-primary" href="course.html">
                                Know Details<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="blog-card-single">
                    <div class="grids5-info position-relative">
                        <img src="~/Templates/Studious-Starter/assets/images/c4.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">Website</a>
                            <a href="courses.html">Wordpress</a>
                        </div>
                        <div class="course-price-item">
                            <h6>$369</h6>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fa fa-signal" aria-hidden="true"></i> Intermediate</li>
                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i> 10 week</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Donec sed teus enime</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                            <ul class="rating-list">
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <a class="btn btn-style btn-style-primary" href="course.html">
                                Know Details<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="blog-card-single">
                    <div class="grids5-info position-relative">
                        <img src="~/Templates/Studious-Starter/assets/images/c5.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">Marketing</a>
                            <a href="courses.html">Edu</a>
                        </div>
                        <div class="course-price-item">
                            <h6>$499</h6>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fa fa-signal" aria-hidden="true"></i> High </li>
                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i> 10 week</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">It's enim ad minim ate</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                            <ul class="rating-list">
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <a class="btn btn-style btn-style-primary" href="course.html">
                                Know Details<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="blog-card-single">
                    <div class="grids5-info position-relative">
                        <img src="~/Templates/Studious-Starter/assets/images/c6.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">Study</a>
                            <a href="courses.html">Accadamic</a>
                        </div>
                        <div class="course-price-item">
                            <h6>$289</h6>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fa fa-signal" aria-hidden="true"></i> Beginner </li>
                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i> 10 week</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Ullamco laboris nisi uts</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                            <ul class="rating-list">
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rate">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <a class="btn btn-style btn-style-primary" href="course.html">
                                Know Details<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <a class="btn btn-style btn-style-secondary mt-sm-3" href="about.html">
                Browse more courses<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
