<div class="w3l-cutomer-main-cont">
    <div class="testimonials py-5">
        <div class="container py-md-5 py-4">
            <div class="title-heading-w3 text-center mx-auto mb-5 pb-lg-5">
                <h3 class="title-main">Öğrenci <span>Görüşleri </span></h3>
            </div>
            <div class="row content-sec mt-md-5">
                <div class="col-lg-4 col-md-6 testi-sections">
                    <div class="testimonials_grid">
                        <p class="sub-test">
                            <q>
                               Öğretmenler çok başarılı, iyi ki bu okula gelmişim.
                            </q>
                        </p>
                        <div class="d-grid sub-author-con">
                            <div class="testi-img-res">
                                <img src="~/Templates/Studious-Starter/assets/images/testi2.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="testi_grid text-left">
                                <h5>Talat Atasoy</h5>
                                <p>Bilişim Teknolojileri</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4 testi-sections">
                    <div class="testimonials_grid">
                        <p class="sub-test">
                            <q>
                                Yazılım konusunda ciddi anlamda bilgim arttı, şimdiki amacım Bilgisayar Mühendisliği kazanmak
                            </q>
                        </p>
                        <div class="d-grid sub-author-con">
                            <div class="testi-img-res">
                                <img src="~/Templates/Studious-Starter/assets/images/testi1.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="testi_grid text-left">
                                <h5>İclal Belenkoğulları</h5>
                                <p>Bilişim Teknolojileri</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 testi-sections">
                    <div class="testimonials_grid">
                        <p class="sub-test">
                            <q>
                               Okul gerçekten çok başarılı, burada olduğum için çok mutluyum.
                            </q>
                        </p>
                        <div class="d-grid sub-author-con">
                            <div class="testi-img-res">
                                <img src="~/Templates/Studious-Starter/assets/images/testi3.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="testi_grid text-left">
                                <h5>Gülsun Akın</h5>
                                <p>Beslenme ve Diyetisyenlik</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
