<footer class="w3l-footer-22 position-relative mt-5 pt-5">
    <div class="footer-sub">
        <div class="container">
            <div class="text-txt">
                <div class="right-side">
                    <!-- form section -->
                    <div class="row align-items-center w3l-forms-9">
                        <div class="main-midd col-md-6">
                            <h4 class="title-head mb-lg-2">Duyurulardan haberdar olmak için abone olun </h4>
                        </div>
                        <div class="main-midd-2 col-md-6 mt-md-0 mt-4">
                            <form action="#url" method="GET" class="rightside-form">
                                <input type="email" class="form-control" name="email"
                                       placeholder="Enter your email">
                                <button class="btn" type="submit">Abone</button>
                            </form>
                        </div>
                    </div>
                    <!-- //form section -->
                </div>
                <div class="row sub-columns">
                    <div class="col-lg-2 col-sm-6 sub-two-right">
                        <h6>Hızlı Linkler</h6>
                        <ul>
                            <li>
                                <a href="index.html"><span class="fa fa-angle-double-right mr-2"></span>Ana Sayfa</a>
                            </li>
                            <li>
                                <a href="about.html"><span class="fa fa-angle-double-right mr-2"></span>Hakkımızda</a>
                            </li>
                            <li>
                                <a href="courses.html">
                                    <span class="fa fa-angle-double-right mr-2"></span>Kurslarımız
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <span class="fa fa-angle-double-right mr-2"></span>İletişim
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-sm-0 mt-4">
                        <h6>Yardım & Destek</h6>
                        <ul>
                            <li>
                                <a href="#live">
                                    <span class="fa fa-angle-double-right mr-2"></span>Canlı Grafikler
                                </a>
                            </li>
                            <li>
                                <a href="#faq"><span class="fa fa-angle-double-right mr-2"></span>SSS</a>
                            </li>
                            <li>
                                <a href="#support"><span class="fa fa-angle-double-right mr-2"></span>Destek</a>
                            </li>
                            <li>
                                <a href="#terms">
                                    <span class="fa fa-angle-double-right mr-2"></span>Şartlar ve Hükümler
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 sub-one-left mt-lg-0 mt-sm-5 mt-4">
                        <h6>İletişim </h6>
                        <div class="column2">
                            <div class="href1">
                                <span class="fa fa-envelope-o" aria-hidden="true"></span><a href="mailto:info@example.com">meteor@gmail.com</a>
                            </div>
                            <div class="href2">
                                <span class="fa fa-phone" aria-hidden="true"></span><a href="tel:+44-000-888-999">+90-000-888-999</a>
                            </div>
                            <div>
                                <p class="contact-para">
                                    <span class="fa fa-map-marker"
                                          aria-hidden="true"></span>Silivri İstanbul, Türkiye 34100
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 sub-one-left ab-right-cont pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                        <h6>Hakkımızda </h6>
                        <p>
                            Bu proje Çizgi Yazılım Anadolu Lisesi öğrencileri tarafından web programlama projesi olarak Meteor Lisesi için geliştirilmiştir.
                        </p>
                        <div class="columns-2">
                            <ul class="social">
                                <li>
                                    <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright-footer text-center">
        <div class="container">
            <div class="columns">
                <p>
                    @DateTime.Now.Year. Tüm Hakları Saklıdır. Design by <a href="https://w3layouts.com/"
                                                                     target="_blank"></a>
                    Meteor Anadolu Lisesi</a>
                </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
</footer>
