<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item active">
            <a class="nav-link" href="index.html">Ana Sayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about.html">Hakkımızda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="courses.html">Eğitimlerimiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">Bize Ulaşın</a>
        </li>
        <!-- search button -->
        <div class="search-right ml-lg-3">
            <form action="#search" method="GET" class="search-box position-relative">
                <div class="input-search">
                    <input type="search" placeholder="Enter Keyword" name="search" required="required"
                           autofocus="" class="search-popup">
                </div>
                <button type="submit" class="btn search-btn">
                    <i class="fa fa-search"
                       aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <!-- //search button -->
    </ul>
</div>
