<section class="w3l-about-2 pb-5">
    <div class="container pb-md-5 pb-4 mb-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 about-2-secs-right mb-lg-0 mb-4 text-center">
                <img src="~/Templates/Studious-Starter/assets/images/image.png" alt="" class="img-fluid img-responsive m-auto" />
            </div>
            <div class="col-lg-7 about-2-secs-left pr-lg-5">
                <h3 class="title-style mb-sm-3 mb-2">
                    Nereden başlayacağını bilmiyor musun? <br>Bize Ulaşın, Hemen Destek Olalım
                </h3>
                <p>
                    İnsan Kaynakları Yöneticilerimiz ve Destek Ekiplerimiz Size 7/24 Destek Sağlayacaklardır.
                </p>
                <div class="mt-4">
                    <a class="btn btn-style btn-style-secondary mt-3" href="contact.html">İletişim</a>
                </div>
            </div>
        </div>
    </div>
</section>
