<section class="w3l-feature-8">
    <div class="features-main py-5">
        <div class="container py-md-5 py-4">
            <div class="title-heading-w3 text-center mx-auto mb-5 pb-sm-4">
                <h3 class="title-main">Meteor Yazılım <span>Lisesi</span></h3>
            </div>
            <div class="row features text-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="feature-body">
                        <div class="feature-images">
                            <span class="fa fa-graduation-cap" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info mt-4">
                            <a href="about.html">
                                <h3 class="feature-titel">
                                    Trend Eğitimler
                                </h3>
                            </a>
                            <p class="feature-text">
                                Yapay zekadan, makine öğrenmesine, IOT teknolojilerinden mimari geliştirmeye kadar pek çok güncel başlık.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-sm-0 mt-5">
                    <div class="feature-body">
                        <div class="feature-images">
                            <span class="fa fa-users" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info mt-4">
                            <a href="about.html">
                                <h3 class="feature-titel">Uzman Öğretmenler</h3>
                            </a>
                            <p class="feature-text">
                                Alanında oldukça başarılı ve deneyimli öğretmenlerle hem ders içinde hem ders dışında birebir eğitim imkanı.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-lg-0 mt-5">
                    <div class="feature-body">
                        <div class="feature-images">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info mt-4">
                            <a href="about.html">
                                <h3 class="feature-titel">Proje Laboraatuvarları</h3>
                            </a>
                            <p class="feature-text">
                                Son teknoloji bilgisayarlar ile hızı önemsediğimiz proje geliştirme ortamları oluşturduk.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
