
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Öğrenci Sayısı</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.v1</h2>
                            <p class="text-white mb-0">Ocak 2023</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-2">
                    <div class="card-body">
                        <h3 class="card-title text-white">Öğretmen Sayısı</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.v2</h2>
                            <p class="text-white mb-0">Ocak 2023</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-3">
                    <div class="card-body">
                        <h3 class="card-title text-white">Yazılım Dersleri</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.v3</h2>
                            <p class="text-white mb-0">Haziran 2023</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-4">
                    <div class="card-body">
                        <h3 class="card-title text-white">Ortalama Puan</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.v4</h2>
                            <p class="text-white mb-0">Aralık 2022</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                    </div>
                </div>
            </div>
        </div>      
    
    
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-5">
                    <div class="card-body">
                        <h3 class="card-title text-white">Toplam Gelir</h3>
                        <div class="d-inline-block">
                            <h3 class="text-white">2.584.365₺</h3>
                            <p class="text-white mb-0">Aralık 2022</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-apple"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-7">
                    <div class="card-body">
                        <h3 class="card-title text-white">Öğrenci Memnuniyeti</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">%94.7</h2>
                            <p class="text-white mb-0">Ocak 2023</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-smile-o"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-8">
                    <div class="card-body">
                        <h3 class="card-title text-white">Şube Sayısı</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">15</h2>
                            <p class="text-white mb-0">Haziran 2023</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-building"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-9">
                    <div class="card-body">
                        <h3 class="card-title text-white">Taban Puanı</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">380.49</h2>
                            <p class="text-white mb-0">Eylül 2022</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-book"></i></span>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
    <!-- #/ container -->