
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<br />
<div class="container">
    <form method="post">
        <label>Öğrenci Adı</label>
        <input type="text" name="Name" class="form-control" />
        <br />

        <label>Öğrenci Soyadı</label>
        <input type="text" name="Surname" class="form-control" />
        <br />

        <label>Öğrenci Numarası</label>
        <input type="text" name="Number" class="form-control" />
        <br />

        <label>Öğrenci Mail</label>
        <input type="text" name="Mail" class="form-control" />
        <br />
        <button class="btn btn-info">Öğrenciyi Ekle</button>
    </form>
</div>