@model List<Cizgi_School_Project.Models.TblStudent>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />


<div class="container">

    <h1>öğrenci Listesi</h1>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Görsel</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentID</td>
                <td><img src="@item.Image" style="width: 50px; border-radius:50%;"></td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td><a href="/Student/DeleteStudent/@item.StudentID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Student/UpdateStudent/@item.StudentID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }

    </table>
    <a href="/Student/AddStudent/" class="btn btn-primary">Yeni Öğrenci Kaydı</a>
</div>